@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  color: #333;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

.sec-title {
  font-family: 'Antonio', sans-seif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 60px;
}
/*********************************************************************
header
*********************************************************************/

header {
  width: 100%;
  height: 90px;
  background-color: #16335B;
}

.header-inner{
  max-width: 1080px;
  height: 100%;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 190px;
  height: 60px;
}

.logo a {
  display: block;
  height: 100%;
}

.logo a img {
  height: 100%;
}
.menu-list {
  display: flex;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a{
  font-family: 'Antonio', sans-seif;
  color: #FFF;
  font-size: 1.25rem;
  transition: 0.3s;
}

.menu-item a:hover {
  opacity: 0.7;
}

/*********************************************************************
mainvisual
*********************************************************************/

.mainvisual-list {
  width: 100%;
  overflow-x: hidden;
}

.slick-slide {
  width: 100%;
  max-height: 450px;
}

.mainvisual-item img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: center 20%;
}

/*********************************************************************
about
*********************************************************************/
#about {
  padding-top: 120px;
  background-color: #FFF;
}

.about-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.3;
}

/*********************************************************************
news
*********************************************************************/

#news {
  padding: 120px 0;
}
.news-item {
  border-bottom: 1px dotted #333;
  list-style: none;
}
.news-item:nth-child(1) {
  border-top: 1px dotted #333;
}

.news-item a {
  color: #333;
  font-size: 1.1rem;
  line-height: 2;
}

.date {
  margin-right: 20px; 
}

/*********************************************************************
bg
*********************************************************************/

.bg {
  background: url("../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

/*********************************************************************
menu
*********************************************************************/

#menu {
  padding: 120px 0;
}

.menu-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 250px 1fr 1fr;
  grid-template-areas: 
  "menu1 menu2"
  "menu1 menu3"
  "menu4 menu4"
  "menu5 menu6"
  "menu7 menu6"
  ;
}
.menu img{
  object-fit: cover;
  height: 100%;
}
.menu1 {
  grid-area: menu1;
}

.menu2 {
  grid-area: menu2;
}

.menu3 {
  grid-area: menu3;
}

.menu4 {
  grid-area: menu4;
}

.menu5 {
  grid-area: menu5;
}

.menu6 {
  grid-area: menu6;
}

.menu7 {
  grid-area: menu7;
}

.more-btn {
  text-align: right;
  margin: 30px 20px 0 0;
}

.more-btn a {
  font-family: "Antonio", sans-serif;
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 5px 0;
  width: 160px;
  text-align: center;
  visibility: middle;
}

.more-btn a::before,
.more-btn a::after{
  content: "";
  position: absolute;
  width: 160px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease-in;
}

.more-btn a:hover::before,
.more-btn a:hover::after{
  width: 0;
}
.more-btn a::before{
  top: 0;
  left: 0;
}

.more-btn a::after{
  bottom: 0;
  right: 0;
}