@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;700&family=Noto+Sans+JP:wght@400;500;700&display=swap');
:root {
 --main-color: #16335B;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  color: #333;
  overflow-x: hidden; 
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
 ul {
  list-style: none;
 }

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

.sec-title {
  font-family: 'Antonio', sans-seif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 60px;
}
.more-btn{
  text-align: center;
  margin-top: 60px;
}

.back-btn {
  text-align: center;
}

.more-btn a, .back-btn a{
  display: inline-block;
  line-height: 40px;
  text-align: center;
  position: relative;
  color: #333;
  font-size: 1.125rem;
}

.more-btn a::before,
.more-btn a::after,
.back-btn a::before,
.back-btn a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in-out;
}

.more-btn a::before,
.more-btn a::after,
.back-btn a::before,
.back-btn a::after {
  background: #333;
}

.more-btn a::before,
.back-btn a::before{
  top: 0;
  left: 0;
}

.more-btn a::after,
.back-btn a::after{
  bottom: 0;
  right: 0;
}

.more-btn a:hover::before,
.more-btn a:hover::after,
.back-btn a:hover::before,
.back-btn a:hover::after
{
  width: 0;
}

.return-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: rgba(255, 255, 255, .6);
  bottom: 70px;
  right: 25px;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 10;
}
.return-btn a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.return-btn.show{
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

.arrow {
  display: block;
  position: relative;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background: var(--main-color);
  top: 26px;
}

.arrow::before{
  transform: rotate(-45deg);
  left: 13px;
}

.arrow::after {
  transform: rotate(45deg);
  left: 25px;
}

/*********************************************************************
loading
*********************************************************************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.7s ease;
}

.loading.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading-logo {
  width: 190px;
  height: 60px; 
  animation: fadein 1.5s linear;
  position: relative;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

.logo-mask {
  content: "";
  width: 190px;
  height: 70px;
  background: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  animation: slide 1.5s linear forwards;
}

@keyframes slide {
  0% {
    opacity: 1;
    left: 0;
  }

  100% {
    opacity: 0;
    left: 150%;
  }
}

.loading-animation {
  display: flex;
}

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 40px 0.8rem 0 0.8rem;
  position: relative;
}

.dot::before {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  position: absolute;
  animation: wave 1.5s ease-out infinite;
}

.dot:nth-child(1) {
  background: #FFF;
}

.dot:nth-child(1)::before {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  background: #e2e2e2;
}

.dot:nth-child(2)::before {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  background: #acacac;
}

.dot:nth-child(3)::before {
  animation-delay: 0.6s;
}

.dot:nth-child(4) {
  background: #686868;
}

.dot:nth-child(4)::before {
  animation-delay: 0.8s;
}

.dot:nth-child(5) {
  background: #4b4b4b;
}

.dot:nth-child(5)::before {
  animation-delay: 1s;
}


@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
/*********************************************************************
header
*********************************************************************/

header , .fix-header{
  width: 100%;
  height: 90px;
  background-color: var(--main-color);
}

.fix-header {
  position: fixed;
  top: -90px;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 50;
}

.fix-header.show {
  top: 0;
  opacity: 1;
}

.header-inner{
  height: 100%;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 190px;
  height: 60px;
}

.logo a {
  display: block;
  height: 100%;
}

.logo a img {
  height: 100%;
}
.menu-list {
  display: flex;
}

.menu-item {
  margin-right: 20px;
}

.menu-item a{
  font-family: 'Antonio', sans-seif;
  color: #FFF;
  font-size: 1.25rem;
  transition: 0.3s;
}

.menu-item a:hover {
  opacity: 0.7;
}

.sp-open-btn {
  display: none;
}

.sp-menu{
  display: none;
  transform: translateX(100%);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}
/*********************************************************************
mainvisual
*********************************************************************/

.mainvisual-list {
  width: 100%;
  overflow-x: hidden;
}

.slick-slide {
  width: 100%;
  height: 70vh;
}

.mainvisual-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
}

/*********************************************************************
about
*********************************************************************/
#about {
  padding-top: 120px;
  background-color: #FFF;
}

.about-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.3;
}

.about-text {
  font-size: 1.125rem;
  line-height: 2;
}
/*********************************************************************
news
*********************************************************************/

#news {
  padding: 120px 0;
  background-color: #FFF;
}
.news-item {
  border-bottom: 1px solid #CCC;
  
}
.news-item:nth-child(1) {
  border-top: 1px solid #CCC;
}

.news-item a {
  display: inline-block;
  width: 100%;
  color: #333;
  font-size: 1.125rem;
  line-height: 2;
  padding: 20px;
  background: #FFF;
  transition: all 0.3s ease;
}

.news-item a:hover {
  background: #CCC;
}
.sp-only {
  display: none;
}
.date {
  margin-right: 20px; 
}

/*********************************************************************
bg
*********************************************************************/

.bg-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  clip-path: inset(0);
}

.bg {
  background: url("../img/bg.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover
}


/*********************************************************************
menu
*********************************************************************/

#menu {
  padding-top: 120px;
  background-color: #FFF;
}

.menu-link {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 250px 1fr 1fr;
  grid-template-areas: 
  "menu1 menu2"
  "menu1 menu3"
  "menu4 menu4"
  "menu5 menu6"
  "menu7 menu6";
  transition: all 0.3s ease;
}

.menu-link:hover {
  opacity: 0.7;
}
.menu img{
  object-fit: cover;
  height: 100%;
}
.menu1 {
  grid-area: menu1;
}

.menu2 {
  grid-area: menu2;
}

.menu3 {
  grid-area: menu3;
}

.menu4 {
  grid-area: menu4;
}

.menu5 {
  grid-area: menu5;
}

.menu6 {
  grid-area: menu6;
}

.menu7 {
  grid-area: menu7;
}

/*********************************************************************
shop info
*********************************************************************/

#shop-info {
  padding: 120px 0;
  background-color: #FFF;
}

.shop-info-inner{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.shop-info-img {
  width: 35%;
}
.shop-info-img img {
  object-fit: cover;
}
.shop-info-list {
  width: 60%;
}
.shop-info-item:nth-child(1) {
  border-top: 1px solid #CCC;
}
.shop-info-item{
  border-bottom: 1px solid #CCC;
}
.shop-info-text {
  display: flex;
  flex-wrap: wrap;
}

dt {
  width: 30%;
  padding: 15px 0;
}
dd {
  width:  70%;
  padding: 15px 0;
}

.tel {
  pointer-events: none;
  color: #333 !important;
}

.map {
  position: relative;
  padding-top: 40%;
  height: 0;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


/*********************************************************************
footer
*********************************************************************/
footer {
  background-color: #FFF;
  padding-bottom: 30px;
}
.footer-top-img {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-top-img::before{
  content: "";
  box-shadow:inset 0px 23px 12px -12px #FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer-nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.footer-nav-item:not(:last-child) {
  margin-right: 20px;
}
.footer-nav-item a{
  font-family: "Antonio", sans-serif;
  font-size: 1rem;
  color: var(--main-color);
  transition: all 0.3s linear;
  opacity: 1;
}

.footer-nav-item a:hover {
  opacity: 0.7;
}

.sns-list{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.sns-item{
  width:40px;
  height: 40px;
}

.sns-item:not(:last-child) {
  margin-right: 20px;
}

.sns-item a{
  display: inline-block;
  height: 100%;
  transition: all 0.3s linear;
  transform: scale(1);
  opacity: 1;
}

.sns-item a:hover{
  transform: scale(1.1);
  opacity: 0.7;
}
.sns-item a img {
  width: 100%;
  height: 100%;
}

.copyright {
  font-size: 0.625rem;
  text-align: center;
}

/*********************************************************************
product
*********************************************************************/

.product-title {
  font-family: 'Antonio', sans-seif;
  font-size: 3rem;
  color: var(--main-color);
  margin-bottom: 90px;

}

.product-container{
  padding: 100px;
  background:url("../img/product-bg.jpg");

}
.product-inner {
  background: linear-gradient(90deg, #FFF 60%, #e9e9e9);
  padding: 70px 60px;
  border-radius: 20px;
  border: 5px solid var(--main-color);
  box-shadow: 10px 10px 20px;
}

.product-item {
  margin-bottom: 60px;
}
.product-item-title {
  font-family: 'Antonio', sans-seif;
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 60px;
  padding-left: 40px;
  position: relative;
}

.product-item-title::before{
  content: "";
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, var(--main-color), #e9e9e9 70%);
  position: absolute;
  left: 0px;
  bottom: -10px;
}

.product-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  position: absolute;
  top: -1px;
  left: -9px;
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
}

.product-name {
  width: 80%;
  font-size: 1.125rem;
  color: var(--main-color);
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px dotted #CCC;
}

.product-price {
  width: 20%;
  font-size: 1.125rem;
  color: var(--main-color);
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px dotted #CCC;
}

.product-footer {
  padding-top: 60px;
}

.product-btn a{
  color: var(--main-color);
}

.product-btn a::before,
.product-btn a::after {
  background: var(--main-color);
}
/*********************************************************************
info
*********************************************************************/
.info-container{
  margin-bottom: 90px;
  padding: 120px 60px 90px;
}

.info-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 90px;
} 

.info-title {
  font-family: 'Antonio', sans-seif;
}


.info-list {
  margin-bottom: 90px;
}
.info-item {
  border: 1px solid #CCC; 
  border-radius: 5px;
  margin-bottom: 30px;
  background: #FFF;
  transition: all 0.3s ease;
}

.info-item:hover {
  background: #CCC;
}
.info-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: 1.125rem;
  color: #333;
}



/*********************************************************************
info-detail
*********************************************************************/
.info-detail-container {
  margin-bottom: 90px;
  padding: 120px 60px 90px;
}
.info-detail-title{
  font-size: 2rem;
  margin-bottom: 20px;
}

.info-detail-date {
  font-size: 1rem;
  color: #333;
  margin-bottom: 90px;
}

.info-detail-img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.info-detail-img img {
  opacity: cover;
}
.info-detail-text {
  font-size: 1.125rem;
  line-height: 2;
  color: #333;
  margin-bottom: 90px;
}

/*********************************************************************
SP
*********************************************************************/

@media(max-width: 768px) {
  .sec-title {
    font-size: 2rem;
  }
  .container {
    padding: 0 15px;
  }
  .more-btn {
    margin: 30px 0px 0 0;
  }
  .more-btn a, .back-btn a{
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
  }
  .return-btn {
    width: 40px;
    height: 40px;
  }

.arrow::before,
.arrow::after {
  width: 15px;
  top: 17px;
}
.arrow::before{
  left: 7px;
}

.arrow::after {
  left: 16px;
}
 /*********************************************************************
 header
*********************************************************************/
  header {
    position: fixed;
    z-index: 1;
    height: 60px;
  }
  .header-inner{
    padding: 0 15px;
  }
  .logo {
    width: 140px;
    height: 40px;
  }
  .fix-header {
    display: none;
  }
  .sp-open-btn{
    display: block;
    width: 30px;
    height: 25px;
    top: 0;
    right: 0;
    cursor: pointer;
    position: relative;
  }
  
  .sp-open-bar {
    width: 100%;
    height: 3px;
    background-color: #FFF;
    position: absolute;
  }

  .sp-open-bar:nth-child(1) {
    top: 0;
  }
  .sp-open-bar:nth-child(2) {
    top: 11px;
  }
  .sp-open-bar:nth-child(3) {
    top: 22px;
  }
  .menu-list {
    display: none;
  }
  .sp-menu {
    z-index: 20;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    opacity: 0;
    display: flex;
  }
  
  .sp-menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .sp-menu-item:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .sp-menu-item a{
    font-family: "Antonio", sans-serif;
    color: #FFF;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    opacity: 1;
  }
  .sp-menu-item a:hover{
    opacity: 0.7;
  }
  .sp-menu.active {
    transform: translateX(0);
    opacity: 1;
  }

  .sp-close-btn {
    width: 30px;
    height: 25px;
    top: 15px;
    right: 15px;
    position: relative;
  }

  .sp-close-bar {
    width: 100%;
    height: 3px;
    background-color: #FFF;
    position: absolute;
    cursor: pointer;
  }
  .sp-close-bar:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }
  .sp-close-bar:nth-child(2) {
    transform: translateY(11px) rotate(45deg);
  }
  /*********************************************************************
  mainvisual
  *********************************************************************/
  .mainvisual {
    padding-top: 60px;
  }

  .slick-slide {
    height: 30vh;
    max-height: 350px;
  }
  /*********************************************************************
  about
  *********************************************************************/
  #about {
    padding-top: 60px;
  }
  .about-title {
    font-size: 1.6rem;
  }

  .pc-only {
    display: none;
  }

  /*********************************************************************
  news
  *********************************************************************/
  #news {
    padding: 60px 0;
  }
  
  .news-item a {
    font-size: 1rem;
    line-height: 1.3;
    padding: 10px;
  }
  .sp-only {
    display: block;
  }

  /*********************************************************************
  bg
  *********************************************************************/
.bg-wrapper {
  height: 200px;
}
  /*********************************************************************
  menu
  *********************************************************************/
  #menu {
    padding-top: 60px;
  } 

  .menu-block {
    grid-template-rows: 1fr 1fr 150px 1fr 1fr;
  }
  /*********************************************************************
  shop info
  *********************************************************************/
  #shop-info {
    padding: 60px 0;
  }

  .shop-info-inner{
    flex-direction: column;
  }

  .shop-info-img {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .shop-info-list {
    width: 100%;
  }

  .shop-info-text {
    flex-direction: column;
    padding: 10px;
  }

  dt, dd {
    padding: 0;
  } 

  /*********************************************************************
  footer
  *********************************************************************/
  .footer-top-img {
    height: 150px;
    background-position: 50% 60%;
  }

  /*********************************************************************
  product 
  *********************************************************************/

  .product-container{
    min-width: auto;
    padding: 90px 15px;
  }

  .product-inner {
    min-width: 100%;
    padding: 30px 15px;
    background: linear-gradient(90deg, #FFF 80%, #e9e9e9);
  } 

  .product-title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .product-item-title {
    font-size: 1.5rem;
    padding-left: 30px;
  }

  .product-icon {
    width: 23px;
    height: 23px;
    top: -4px;
  }

 
  
  .product-item{
    margin-bottom: 40px;
  }
  .product-item-title {
    margin-bottom: 40px;
  }
  .product-item-title::before{
    bottom: -7px;
  }
  
  dl {
    max-width: 100%;
  }
  .product-name {
    font-size: 1rem;
    width: 75%;
  }
  .product-price {
    font-size: 1rem;
    width: 25%;
  }

  /*********************************************************************
  info
  *********************************************************************/
  .info-title {
    font-size: 2rem;
    margin-bottom: 60px;
  }
  .info-container{
    min-width: auto;
    padding: 90px 15px;
  }

  .info-list {
    margin-bottom: 60px;
  }

  .info-item a {
    font-size: 1rem;
  }
  /*********************************************************************
  info-detail
  *********************************************************************/
  .info-detail-container {
    padding: 120px 15px 90px;
  }

  .info-detail-title {
    font-size: 1.5rem;
  }

  .info-detail-date {
    font-size: 1rem;
  }

  .info-detail-text {
    font-size: 1rem;
  }
}
